body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #337ab7;
  color: white;
  padding: 1em;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #f9f9f9;
  padding: 1em;
  position:relative;
}

nav button {
  color: #337ab7;
  text-decoration: none;
  margin-right: 1em;
  background-color: #337ab7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  position: relative;
}

nav button:hover{
  background-color: aqua;
  cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

nav button:hover .dropdown-content {
    display: block;
}

